* {
   padding: 0;
   margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/* container */
.container {
    margin: auto;
    display: grid;
    gap: 10px;

}
/* Navbar */
nav.sticky {
    background-color: white;
    width: 100%;
    position: fixed;
    transition: 0.5s;
}
nav.scrollup{
    transition: 0.5s;
    transform: translateY(0%);
}

nav.scroll{
    transform: translateY(-100%);
}
.navbar {
    width: 85%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}
.menu-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: end;
    align-items: center;
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: #2D3436;
}

.button {
    min-width: 50px;
    padding: 7px 20px;
    border-radius: 120px;
    color: white;
    font-weight: bold;
    background-color: #D63031;
}

nav .logo h1 {
    font-size: 1.6em;
}
nav .logo p {
    font-size: 11px;
}
/* hamburger menu */
.menu-toggle {
    display: none;
    justify-content:space-between;
    flex-direction: column;
    height: 20px;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #363434;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger menu Animasi */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: rgb(255, 255, 255);
    z-index: 2;
    transform: rotate(45deg) translate(-0.5px, -3.5px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: rgb(255, 255, 255);
    z-index: 2;
    transform: rotate(-45deg) translate(0,0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0) ;
}

/* Header */

.header {
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), url(/img/header.jpg);
    background-blend-mode: darken, normal;
    height: 350px;
    background-size: cover;
    background-position: center;
    padding-left: 7.5%;
    padding-right: 60%;
    text-align: justify;
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
}
header h2 {
    margin: 10px 0;
    padding-right: 30%;
    font-size: 25px;

}

.header h3 {
    background-color: #D63031;
    padding: 5px ;
    text-align: center;
    margin-right: 50%;
    transform: skew(-20deg);
}

/* Search */

.search {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: -35px auto -15px auto;
    padding: 10px 20px;
    border-radius: 5px; 
    background-color: white;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
}
.combo {
    width: 23%;
    background: #E7E7E7;
    border: transparent;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}
.combo.model {
    padding-left: 10px;
    box-sizing: border-box;
}

.combo.search-btn{
    background-color: #D63031;
    font-weight: bold;
    color: white;
}

/* Favorite */

.favorites {
    width: 85%;
    min-height: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "favorite-1 favorite-2"
        "favorite-1 favorite-3";
    gap: 20px;
}

.favorites h3 {
    grid-area: header;
}
.favorite.favorite-1{
    grid-area: favorite-1;
}
.favorite.favorite-2 {
    grid-area: favorite-2;
}
.favorite.favorite-3 {
    grid-area: favorite-3;
}

.favorite-3, .favorite-2 {
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70% 7.5% 7.5% 7.5%;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: 
    "image image image"
    "judul judul judul"
    "desc desc desc"
    "review detail rent";
}

.favorite-1{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 80% 5% 5% 10%;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: 
    "image image image"
    "judul judul judul"
    "desc desc desc"
    "review detail rent";
}

.image {
    grid-area: image;
    width: 100%;
    background-color: black;
}
.judul {
    padding-top: 1%;
    grid-area: judul;
    margin : 0 10% 0 5% ;
}

.deskripsi {
    grid-area: desc;
    margin : 0 10% 0 5% ;
}
.review {
    align-self: center;
    grid-area: review;
    margin : 0 10% 0 10% ;
}

.detail {
    grid-area: detail;
    


}

.detail ,
.rent {
    padding-top: 3px;
    width: 90%;
    background-color: #D63031;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    align-self: center;
}

.rent {
    grid-area: rent;
}

.rent:hover{
    cursor: pointer;
}
.detail:hover {
    cursor: pointer;
}

.favorite-1 .image {
    background-image: url(/img/fav1.jpg);
    background-position: center;
    background-size: cover;
}
.favorite-2 .image {
    background-image: url(/img/fav2.jpg);
    background-position: center;
    background-size: cover;
}
.favorite-3 .image {
    background-image: url(/img/fav3.jpg);
    background-position: center;
    background-size: cover;
}


/* New Bikes */

.news {
    display: grid;
    width: 85%;
    margin: 10px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1 fr 1fr;
    grid-template-areas: 
        "header header header"
        "new1 new2 new3";
    gap: 10px;
}
.news h2 {
    grid-area: header;
}
.new {
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    height: 350px;
    grid-template-rows: 70% 10% 10% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "image image image"
        "judul judul judul"
        "desc  desc desc"
        "kosong detail rent";  
}
.image {
    display: grid;
    font-size: 2em;
    color: white;
}
.image h2 {
    opacity: 0;
    transition: 1s;
}
.image h2:hover  {
    opacity: 1;
    cursor: pointer;

}

.new-1 .image{
    background-image: url(/img/new1.jpg);
    background-position: center;
    background-size: cover;
}
.new-2 .image{
    background-image: url(/img/new2.jpg);
    background-position: center;
    background-size: cover;
}
.new-3 .image{
    background-image: url(/img/new3.jpg);
    background-position: center;
    background-size: cover;
}
.new-4 .image{
    background-image: url(/img/new4.jpg);
    background-position: center;
    background-size: cover;
}
.new-5 .image{
    background-image: url(/img/new5.jpg);
    background-position: center;
    background-size: cover;
}
.new-6 .image{
    background-image: url(/img/new6.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:1024px){
      .menu-list ul {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

}


@media screen and (max-width:806px){
    .logo {
        display: none;
    }
    .navbar{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .menu-list ul{
        justify-items: center;
    }
    .header {
        padding-right: 30%;
    }
    .header h2 {
        padding-right: 10%;
    }
    .search {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        height: 150px;
        margin: -90px auto -15px auto;
        padding: 10px 20px;
        border-radius: 5px; 
        background-color: white;
        box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
    }
    .combo {
        width: 80%;
        height: 30px;
        margin: auto;
        text-align: center;
    }
    .news {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        grid-template-areas: 
            "header header"
            "new1 new2";
    }
    .new {
        height: 300px;
    }
    body {
        padding-bottom: 550px;
    }
}

@media screen and (max-width:578px){
    .menu-list ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: black;
        height: 100vh;
        z-index: 1;
        justify-content: space-evenly;
        font-weight: bold;
        transform: translateY(-100%);
        transition: 1s;
        opacity: 0;
    }
    .menu-list a {
        color: white;
    }
    .menu-toggle {
        display: flex;
        justify-self: end;
    }

    .menu-list ul.slide {
        opacity: 1;
        transform: translateY(0);
    }

    .header {
        padding-right: 10%;
    }
    .header h2 {
        padding-right: 0;
    }
    .search {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 75%;
        height: 150px;
        margin: -60px auto -15px auto;
        padding: 10px 20px;
        border-radius: 5px; 
        background-color: white;
        box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
    }
    .combo {
        width: 80%;
        height: 30px;
        margin: auto;
    }
    .favorites {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-template-areas: 
            "header header"
            "favorite-1 favorite-1"
            "favorite-2 favorite-3";
        gap: 20px;
    }
    .favorite{
        display: grid;
        grid-template-rows: 65% 15% 5% 15%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "image image"
        "judul judul"
        "review review"
        "detail rent";
    }

    .favorite .detail ,
    .favorite .rent {
        width: 90%;
        font-size: 14px;
        overflow: hidden;
    }
    .favorite .review {
        margin-left: 5%;
    }
    .new {
        height: 250px;
        grid-template-rows: 70% 15% 10;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "image image"
            "judul judul"
            "detail rent";    
        justify-content: space-between;

    }
    .news {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        grid-template-areas: 
            "header header"
            "new1 new2";
    }
    .new .detail ,
    .new .rent {
        margin-top: 45px;
        margin-left:10px;
        width: 80%;
        font-size: 112x;
        overflow: hidden;
    }
    .new .judul{
        font-size: 12;
        text-align: center;
    }
    .logo {
        display: block;
    }
    nav .logo p {
        font-size: 9.4px;
    }

    body {
        padding-bottom:300px;
    }

}
